// Define variables for your color scheme

// For example:
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

$blue: #4d55a1;
$dark-blue: #2c293a;
$light-gray: #F4F4F4;
$gray: #CCCCCC;
$gray-brown: #605C5C;
$gray-typo: #3A3A3A;
$red: #b43a38;
$white: #ecece5;
