.container-about {
  display: grid;
  height: 150vh;
}

.banner-about {
  height: 500px;
  background-size: cover !important;
  position: relative;
  border-radius: 1px;
  background-position: center;
  box-shadow: 2px 2px 4px #E5E5E5;
}

.card-about {
  position: absolute;
  height: 860px;
  width: 1000px;
  top: 540px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card-text strong {
  text-transform: uppercase;
}

@media (min-width: 20px) and (max-width: 360px) {
  .container-about {
    height: 300vh;
  }
  .card-about {
    position: absolute;
    width: 92%;
    height: 1660px;
    top: 450px;
    text-align: center;
  }
}
@media (min-width: 361px) and (max-width: 735px) {
  .container-about {
    height: 200vh;
  }
  .card-about {
    position: absolute;
    width: 92%;
    height: 1420px;
    top: 450px;
    text-align: center;
  }
}

@media (min-width: 736px) and (max-width: 991px) {
  .container-about {
    height: 100vh;
  }
  .card-about {
    position: absolute;
    width: 85%;
    top: 450px;
    height: 920px;
  }
}

@media (min-width: 992px) and (max-width: 1025px) {
  .container-about {
    height: 100vh;
  }
  .card-about {
    position: absolute;
    width: 80%;
    top: 500px;
    height: 960px;
  }
}
