.banner-about {
  height: 500px;
  width: 100%;
  background-size: cover !important;
  margin-top: 4rem;
  position: relative;
  border-radius: 1px;
  box-shadow: 2px 2px 4px #E5E5E5;
  justify-self: center;
  background-position: center;
}

@media (min-width: 736px) and (max-width: 991px) {
  .banner-about {
    position: relative;
    margin-top: 3rem;
    height: 400px;
  }
}
@media (min-width: 20px) and (max-width: 735px) {
  .banner-about {
    margin: 0;
  }
}
