.background-total {
  position: relative;
  display: flex;
  justify-content: center;
  height: calc(100vh - 70px);
}

.background-total h1 {
  position: absolute;
  margin-top: 80px;
  z-index: 1;
  color: $gray-brown;
}

.background-side-left {
  background-color: white;
  width: 50%;
  position: absolute;
  left: 0px;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-side-right {
  width: 50%;
  position: absolute;
  right: 0px;
  height: calc(100vh - 70px);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-title {
  display: flex;
  justify-content: center;
}
.contact-infos {
  position: absolute;
}
.contact-infos h3, h5 {
  color: $gray-typo;
}
.contact-infos p {
  font-size: 12px;
  color: $wine-red;
}

.email h5 a {
  color: $gray-typo;
}

.background-xs {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover !important;
  flex: 1;
}

.contact-title-xs {
  margin-top: 50px;
  color: $gray-brown;
  display: flex;
  justify-content: center;
}
.contact-infos-xs {
  margin: 4rem 1rem;

    p {
      font-size: 12px;
      color: $wine-red;
    }
}
@media screen and (min-width: 10px) {
  .background-xs {
    height:100vh;
    overflow: scroll;
  }
}
