.background-contact {
  background-size: cover !important;
  background-repeat: no-repeat;

}
.card-contact {
  margin: 5rem auto 5rem auto;
  padding: 30px;
}

.form-control {
  background-color: white;
  &:hover {
    background-color: white;
  }
}

@media (min-width: 20px) and (max-width: 735px){
  .card-contact {
    padding: 16px;
  }
}
