.background-contact {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: left;
}
.card-contact {
  margin: 5rem auto 5rem auto;
  padding: 30px;
}

.form-control {
  background-color: white;
  &:hover {
    background-color: white;
  }
}

@media (min-width: 20px) and (max-width: 735px){
  .card-contact {
    margin: 3rem auto 5rem auto;
    padding: 16px;
  }
}

@media (min-width: 736px) and (max-width: 1025px) {
  .background-contact {
    height: 100vh;
  }
}
