.container {
  display: flex;
}

.list-artists {
  width: 100%;
}
.collective-name {
  color: $gray-brown;
  margin-top: 5rem;
}

#artists-name {
  color: $gray-typo;
  margin-top: 2rem;
}

#artists-name :hover {
  text-decoration: underline $gray-typo;
}

.carousel-inner {
  margin: 1rem auto;
}
.carousel-item {
  width: 100%;
}
.carousel-content {
  width: 100%;
  background-color: $wine-red;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 5px;
  padding: 0.8rem ;
  color: white;
}

.carousel-content-project p {
  opacity: 0.6;
  font-size: 12px;
}
