.wrapper {
  display: grid;
  margin: 2% 2% 0 2%;
  grid-template-columns: 21% 75%;
  grid-column-gap: 2%;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 2%;
  grid-auto-rows: 2fr;
  grid-row-gap: 1%;
  grid-auto-flow: dense;
}
.carousel-inner {
  box-shadow: 2px 2px 4px #E5E5E5;

}
.carousel-item {
  height: 100%;
  width: 100%;
}

.collective-name {
  color: $dark-blue;
  margin-top: 4rem;
}

#artists-name {
  color: $dark-blue;
  margin-top: 2rem;
}

#artists-name :hover {
  text-decoration: underline $dark-blue;
}

.carousel-content {
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0.6rem ;
  color: $dark-blue;
}
.carousel-content-artist a {
  color: $dark-blue;
}

.carousel-content-project {
  opacity: 0.8;
  font-size: 12px;
}

@media (min-width: 20px) and (max-width: 735px){
  .wrapper {
    display: grid;
    margin: 2% 4% 0 4%;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
  .cards-container {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    grid-auto-rows: 1fr;
    grid-row-gap: 10px;
  }
}

@media (min-width: 736px) and (max-width: 1025px) {
  .wrapper {
    display: grid;
    margin: 2% 2% 0 2%;
    grid-template-columns: 30% 64%;
    grid-column-gap: 4%;
  }
  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1%;
    grid-auto-rows: 1fr;
    grid-row-gap: 1%;
  }
}
