.banner-post-show {
  height: 500px;
  width: 100%;
  border-radius: 1px;
  object-fit: cover;
}

.container-post-show {
  height: 100vh;
}

.container-post-new {
  height: 100vh;
  margin-top: 50px;
}

.card-post-show {
  position: absolute;
  flex-grow: 1;
  width: 1000px;
  top: 540px;
  left: 0;
  right: 0;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
