.banner-post-show {
  height: 500px;
  width: 100%;
  border-radius: 1px;
  object-fit: cover;
}

.card-post-show {
  position: absolute;
  height: 300px;
  width: 1000px;
  top: 540px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
