.banner-post-show {
  height: 500px;
  width: 100%;
  border-radius: 1px;
  object-fit: cover;
}

.container-post-show {
  height: 100vh;
}

.container-post-new {
  height: 100vh;
  margin-top: 50px;
}

.card-post-show {
  position: absolute;
  flex-grow: 1;
  width: 1000px;
  top: 540px;
  left: 0;
  right: 0;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-width: 20px) and (max-width: 735px) {
  .card-post-show {
    position: absolute;
    width: 92%;
    top: 450px;
    text-align: center;
  }
}

@media (min-width: 736px) and (max-width: 991px) {
  .card-post-show {
    position: absolute;
    width: 85%;
    top: 450px;
  }
}

@media (min-width: 992px) and (max-width: 1025px) {
  .card-post-show {
    position: absolute;
    width: 80%;
    top: 500px;
  }
}
