.container-press {
  display: grid;
  height: 150vh;
}

.banner-press {
  height: 500px;
  background-size: cover !important;
  position: relative;
  border-radius: 1px;
  background-position: top;
  background-attachment: fixed;
  box-shadow: 2px 2px 4px #E5E5E5;
}
.card-press {
  position: absolute;
  height: 300px;
  width: 1000px;
  top: 540px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-width: 20px) and (max-width: 735px) {
  .container-press {
    height: 100vh;
  }
  .card-press {
    position: absolute;
    width: 90%;
    height: 390px;
    top: 450px;
    text-align: center;
  }
}

@media (min-width: 736px) and (max-width: 991px) {
  .card-press {
    position: absolute;
    width: 85%;
    top: 450px;
  }
}

@media (min-width: 992px) and (max-width: 1025px) {
  .card-press {
    position: absolute;
    width: 80%;
    top: 500px;
  }
}
