.container-press {
  display: grid;
  height: 150vh;
}

.banner-press {
  height: 500px;
  background-size: cover !important;
  position: relative;
  border-radius: 1px;
  background-position: top;
  background-attachment: fixed;
  box-shadow: 2px 2px 4px #E5E5E5;
}

@media (min-width: 20px) and (max-width: 1025px) {
  .container-press {
    height: 100vh;
  }
}
