.container-infos-artists {
  display: flex;
  justify-content: center;
  text-align: center;
}
.artist-info-show {
  margin: 2rem 0;
}

.grid-container {
  display: grid;
}

.show-poster {
  box-shadow: 2px 2px 4px #E5E5E5;
  border: none;
  cursor: zoom-in;
  margin-bottom: 36px;
}

.artist-info-show p {
  color: $gray;
  margin: auto auto 0;
}

.link-show {
  color: $gray-typo;
}
.link-show:hover {
  color: $gray-typo;
  text-decoration: underline $gray-typo;
}

.social {
  display: flex;
  justify-content: center;
}
.social a {
  background-color: $dark-blue;
  text-align: center;
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 7px;
}

.social a i{
	font-size: 16px;
  line-height: 32px;
	color: white;
}
