.banner-shops {
  height: 500px;
  background-size: cover !important;
  border-radius: 1px;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shops-title {
  color: white;
}

.container-shops {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100vh;
}

.adresses-shops {
  display: grid;
  margin: 10% auto 5% auto;
  grid-template-rows: repeat(3, minmax(100px, 1fr));

}
#map {
  margin-top: 2rem;
}

@media (min-width: 20px) and (max-width: 735px) {
  .container-shops {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 350px;
    height: 140vh;
  }
  .shops-title-mobile {
    color: $dark-blue;
    text-align: center;
    margin-top: 2rem;
  }
  #map {
    height: 300px !important;
  }
  .adresses-shops {
    grid-template-rows: repeat(3, 100px);
    margin: 5% auto 5% auto;
    grid-row-gap: 5%;

  }
}
@media (min-width: 736px) and (max-width: 991px) {
  .banner-shops {
    height: 300px;
  }
  .container-shops {
    height: 70vh;
    grid-column-gap: 2%;
  }
  #map {
    height: 450px !important;
  }
  .adresses-shops {
    grid-template-rows: repeat(3, 150px);
    margin: 15% auto 5% auto;
  }
}

@media (min-width: 992px) and (max-width: 1025px) {
  .banner-shops {
    height: 400px;
  }
  .container-shops {
    height: 65vh;
  }

  .adresses-shops {
    grid-template-rows: repeat(3, 150px);
    margin: 15% auto 5% auto;
  }
}
