.grid-container {
  display: grid;
  margin: 2% 2% 0 2%;
  grid-template-columns: 21% 75%;
  grid-column-gap: 2%;
}

.show-posters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2%;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1.5%;
}

.artist-info-show p {
  color: $gray;
  margin: auto auto 0;
}

.link-show {
  color: $gray-typo;
}
.link-show:hover {
  color: $gray-typo;
  text-decoration: underline $gray-typo;
}

@media (min-width: 20px) and (max-width: 735px){
  .grid-container {
    display: grid;
    margin: 2% 4% 0 4%;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
  .show-posters {
    display: grid;
    grid-template-columns: 85%;
    justify-content: center;
    grid-template-rows: repeat(5, 1fr);
  }
}

@media (min-width: 736px) and (max-width: 1025px) {
  .grid-container {
    display: grid;
    margin: 2% 2% 0 2%;
    grid-template-columns: 30% 64%;
    grid-column-gap: 4%;
  }
  .show-posters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1%;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 1%;
  }
}
