<div class="collapse collapse-artists" id="artists-menu">
  <div class="container">
    <h1>
      <a data-toggle="collapse" href="#artists-menu" role="button">
        &times;
      </a>
    </h1>
    <div class="row">
      <% @artists_alpha.each do |artist| %>
        <div class="col-6 col-md-4 col-lg-3">
          <div class="list-group text-center">
            <div class="artists-name">
              <%= link_to artist_path(artist) do %>
                <%= "#{artist.first_name} #{artist.last_name}" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
