<div class="collapse" id="artists-menu">
  <div class="menu">
    <div class="list-artists-index d-none d-sm-block">
      <ul>
        <% @artists_alpha.each do |artist| %>
          <div class="list-group">
            <div id="artists-name">
              <%= link_to artist_path(artist) do %>
                <p><%= "#{artist.first_name} #{artist.last_name}" %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
