<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/dame.jeanne.bordeaux/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/damejeannebordeaux" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="mailto:marieparuit@yahoo.fr?subject=Dame Jeanne: Business inquiry">marieparuit@yahoo.fr</a>
  </div>
</div>
