<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/dame.jeanne.bordeaux/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/damejeannebordeaux" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    <% if I18n.locale == :fr %>
      <%= link_to (image_tag "uk.png", height: 30), url_for(only_path: true, locale: :en) %>
    <% else %>
      <%= link_to (image_tag "france.png", height: 30), url_for(only_path: true, locale: nil) %>
    <% end %>
    <%= link_to "MENTIONS LÉGALES", legalpage_path, class:"footer-copyright"%>
  </div>
</div>
