<div class="background-about-total">
  <div class="card about-content">
    <div class="card-body">
      <h1 class="card-title">Dame Jeanne</h1>
      <h6 class="card-subtitle mb-2 subtitle">Collectif créatif</h6>
      <br>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Morbi non leo augue. Suspendisse euismod libero maximus eros porta sollicitudin. </p>
      <br>
      <h6 class="card-subtitle mb-2 follow-us">Suivez-nous sur les réseaux</h6>
      <div class="about-social">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>


  <div class="background-about-left">
  </div>

  <div class="background-about-right" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1540279456/Dame%20Jeanne/pin-up-francaise-belle-vie-petit.jpg');">

  </div>

</div>
