<div class="container container-about">

  <div class="banner-about" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1550658719/Dame%20Jeanne/2-Panoramique-Bourse-1.jpg');">
  </div>
  <div class="card card-about">
    <div class="card-body card-body-shops">
      <h1 class="card-title about-title">Dame Jeanne</h1>
      <h6 class="card-subtitle mb-2 subtitle">Collectif créatif</h6>
      <br>
      <p class="card-text text-justify">Collectif d'artistes illustrateurs graphistes bordelais qui édite deux collections d'affiches par an sur Bordeaux et ses alentours.</p>
      <h6 class="card-subtitle mb-2 follow-us">Suivez-nous</h6>
      <div class="about-social">
        <a href="https://www.instagram.com/dame.jeanne.bordeaux/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/damejeannebordeaux" target="_blank"><i class="fab fa-facebook-f"></i></a>
      </div>
    </div>
  </div>

</div>
