<div class="background-about-total d-none d-sm-block d-md-block">

  <div class="background-about-left" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1541169177/Dame%20Jeanne/bordeaux_1g_petit-test.jpg');">
  </div>

  <div class="background-about-right">
    <div class="card about-content">
      <div class="card-body">
        <h1 class="card-title">Dame Jeanne</h1>
        <h6 class="card-subtitle mb-2 subtitle">Collectif créatif</h6>
        <br>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Morbi non leo augue. Suspendisse euismod libero maximus eros porta sollicitudin. </p>
        <br>
        <h6 class="card-subtitle mb-2 follow-us">Suivez-nous</h6>
        <div class="about-social">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="background-about-xs d-block d-sm-none" style="background-image: linear-gradient(180deg, rgba(143,59,62,0.6) 50%, rgba(143,59,62,0) 100%), url('https://res.cloudinary.com/sybillecrd/image/upload/v1540541559/Dame%20Jeanne/FINAL_PAVILLON_ADMINISTRATIF_re%CC%81so72.jpg');">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card about-infos-xs">
          <h2 class="title-about-xs">Dame Jeanne</h2>
          <h6 class="subtitle-about-xs">Collectif créatif</h6>
          <br>
          <p class="text-about-xs">Some quick example text to build on the card title and make up the bulk of the card's content. Morbi non leo augue. Suspendisse euismod libero maximus eros porta sollicitudin. </p>
          <br>
          <h6 class="follow-us-about-xs">Suivez-nous</h6>
          <div class="about-social-xs">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
