<div class="background-total">
  <div class="contact-title"><h1>Contactez-nous</h1></div>
    <div class="background-side-left">
    </div>
    <div class="background-side-right" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1539591951/Dame%20Jeanne/Capture_d_e%CC%81cran_2018-10-15_a%CC%80_10.24.22.png');">
    </div>
</div>
