<div class="background-total d-none d-sm-block">
  <div class="contact-title"><h1>Contactez-nous</h1></div> 
    <div class="background-side-left">
      <div class="contact-infos">
        <p>Management</p>
        <h3>Marie Paruit</h3>
        <h5>marieparuit@yahoo.fr</h5>
        <h5>06.60.57.50.98</h5>
      </div>
    </div>
    <div class="background-side-right" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 50%), url('https://res.cloudinary.com/sybillecrd/image/upload/v1539591951/Dame%20Jeanne/Capture_d_e%CC%81cran_2018-10-15_a%CC%80_10.24.22.png');">
      <div class="contact-infos">
        <p>Web</p>
        <h3>Sybille Cordeau</h3>
        <h5>sybillecordeau@gmail.com</h5>
        <h5>07.70.28.32.72</h5>
      </div>
    </div>
</div>

<div class="background-xs d-block d-sm-none" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 50%), url('https://res.cloudinary.com/sybillecrd/image/upload/v1539591951/Dame%20Jeanne/Capture_d_e%CC%81cran_2018-10-15_a%CC%80_10.24.22.png');">
  <div class="container ">
    <div class="row">
      <div class="col">
        <div class="contact-title-xs"><h1>Contactez-nous</h1></div><br>
          <div class="contact-infos-xs">
            <p>Management</p>
            <h3>Marie Paruit</h3>
            <h5>marieparuit@yahoo.fr</h5>
            <h5>06.60.57.50.98</h5>
          </div>
          <div class="contact-infos-xs">
            <p>Web</p>
            <h3>Sybille Cordeau</h3>
            <h5>sybillecordeau@gmail.com</h5>
            <h5>07.70.28.32.72</h5>
          </div>
      </div>
    </div>
  </div>
</div>
