<div class="background-contact" style= "background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1552480107/Dame%20Jeanne/Zoom-Zoom-meriadeck-_victoiredelpierre72dpi.jpg')">
  <div class="container container-contact">
    <div class="row">
      <div class="col-12 col-sm-6">

        <div class="card card-contact">
          <div class="card-body">
            <h1 class="card-title">Contactez-nous</h1>
            <h6 class="card-subtitle mb-2">contact@dame-jeanne-bordeaux.fr</h6><br>
            <form method="POST" action="https://formspree.io/contact@dame-jeanne-bordeaux.fr">
              <div class="form-group">
                <input type="name" class="form-control" name="Nom" placeholder="Nom">
              </div>
              <div class="form-group">
                <input type="firstname" class="form-control" name="Prénom" placeholder="Prénom">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="Email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="phone" class="form-control" name="Téléphone" placeholder="Téléphone">
              </div>
              <div class="form-group">
                <textarea name="Message" class="form-control" placeholder="Votre message" rows="4"></textarea>
              </div>
                <button type="submit" class="btn btn-danger">Envoyer</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
