<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">

      <h1>Dame Jeanne</h1>
      <ul>
        <li>Alice Sébégo-Com'aMalice</li>
        <li>Amandine Thomas</li>
        <li>Amélie Goalès</li>
        <li>Antoine Coiquaud</li>
        <li>Camille Quid</li>
        <li>Chloé Birmingham</li>
        <li>François-Xavier Faidy</li>
        <li>Liane Langenbach</li>
        <li>Marc Dakota Campbell Lafon</li>
        <li>Marie Paruit</li>
        <li>Marjorie Goalard</li>
        <li>Nicö Lasaan</li>
        <li>Pauline Lenain</li>
        <li>Sybille Cordeau</li>
        <li>Victoire Delpierre</li>
        <li>Vincent Millas</li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card text-center" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/c_scale,h_350,w_250/v1539164699/Dame Jeanne/logan-lambert-1091999-unsplash.jpg');">

        <div class="card-infos">
          <div class="artist-name">John Doe</div>
          <div class="arstist-job">Artiste</div>
        </div>
      </div>

    </div>



  </div>
</div>
