<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-4 d-none d-sm-block">
      <div id="artists-name">
        <h1>Dame Jeanne</h1>
        <br>
        <h5>Alice Sébégo</h5>
        <h5>Amandine Thomas</h5>
        <h5>Amélie Goalès</h5>
        <h5>Antoine Coiquaud</h5>
        <h5>Camille Quid</h5>
        <h5>Chloé Birmingham</h5>
        <h5>François-Xavier Faidy</h5>
        <h5>Liane Langenbach</h5>
        <h5>Marc Dakota Campbell Lafon</h5>
        <h5>Marie Paruit</h5>
        <h5>Marjorie Goalard</h5>
        <h5>Nicö Lasaan</h5>
        <h5>Pauline Lenain</h5>
        <h5>Sybille Cordeau</h5>
        <h5>Victoire Delpierre</h5>
        <h5>Vincent Millas</h5>
      </div>
    </div>
  </div>

    <div class="cards-container">
      <div class="row">
        <div class="d-flex justify-content-around mr-auto p-1">
          <div class="card card-poster" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1540279457/Dame%20Jeanne/bordeaux_1g_petit.jpg');">
            <div class="card-filter">
              <div class="card-infos-artist">
                <h3>Marie Paruit</h3>
                <p>Illustratrice</p>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-around mr-auto p-1">
          <div class="card card-poster" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1540279457/Dame%20Jeanne/bordeaux_1d_petit.jpg');">
            <div class="card-filter">
              <div class="card-infos-artist">
                <h3>Marie Paruit</h3>
                <p>Illustratrice</p>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-around mr-auto p-1">
          <div class="card card-poster" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1540279456/Dame%20Jeanne/pin-up-francaise-belle-vie-petit.jpg');">
            <div class="card-filter">
              <div class="card-infos-artist">
                <h3>Marie Paruit</h3>
                <p>Illustratrice</p>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-around mr-auto p-1">
          <div class="card card-poster" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1540541559/Dame%20Jeanne/FINAL_PAVILLON_ADMINISTRATIF_re%CC%81so72.jpg');">
            <div class="card-filter">
              <div class="card-infos-artist">
                <h3>Antoine Coiquaud</h3>
                <p>Illustratreur</p>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-around mr-auto p-1">
          <div class="card card-poster" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1540541559/Dame%20Jeanne/FINAL_PAVILLON_ADMINISTRATIF_re%CC%81so72.jpg');">
            <div class="card-filter">
              <div class="card-infos-artist">
                <h3>Antoine Coiquaud</h3>
                <p>Illustratreur</p>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-around mr-auto p-1">
          <div class="card card-poster" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1540541559/Dame%20Jeanne/FINAL_PAVILLON_ADMINISTRATIF_re%CC%81so72.jpg');">
            <div class="card-filter">
              <div class="card-infos-artist">
                <h3>Antoine Coiquaud</h3>
                <p>Illustratreur</p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>


</div>
