<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">

      <h1>Dame Jeanne</h1>
      <ul>
        <li>Alice Sébégo-Com'aMalice</li>
        <li>Amandine Thomas</li>
        <li>Amélie Goalès</li>
        <li>Antoine Coiquaud</li>
        <li>Camille Quid</li>
        <li>Chloé Birmingham</li>
        <li>François-Xavier Faidy</li>
        <li>Liane Langenbach</li>
        <li>Marc Dakota Campbell Lafon</li>
        <li>Marie Paruit</li>
        <li>Marjorie Goalard</li>
        <li>Nicö Lasaan</li>
        <li>Pauline Lenain</li>
        <li>Sybille Cordeau</li>
        <li>Victoire Delpierre</li>
        <li>Vincent Millas</li>
      </ul>
    </div>
  </div>
</div>
