<div class="container container-legalpage">
  <div class="row">
    <div class="legalpage">
      <h4>Mentions légales</h4>
      <p>Le site dame-jeanne-bordeaux.fr est hébergé par la société HEROKU Inc dont l’adresse est 650 7th Street, SAN FRANCISCO, CA.</p>
    </div>
  </div>
</div>
