<div class="banner banner-press" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1549630638/Dame%20Jeanne/1-affiche-marjorie.jpg');"></div>

<div class="container container-press">
  <div class="card card-about">
    <div class="card-body-big-press">
      <h1 class="card-title about-title">Presse</h1>
      <br>
      <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu enim, imperdiet ut auctor ut, convallis quis nunc. Morbi non leo augue. Suspendisse euismod libero maximus eros porta sollicitudin. Sed et risus commodo, vehicula est in, egestas odio.</p>
    </div>
  </div>
</div>
