<div class="container container-shops">

  <div class="banner" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1549630638/Dame%20Jeanne/1-affiche-marjorie.jpg');">


  </div>
  <div class="card card-shops">
    <div class="card-body">
      <h1 class="card-title about-title">Points de vente</h1>
      <h6 class="card-subtitle mb-2 subtitle">Bordeaux</h6>
      <br>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu enim, imperdiet ut auctor ut, convallis quis nunc. Morbi non leo augue. Suspendisse euismod libero maximus eros porta sollicitudin. Sed et risus commodo, vehicula est in, egestas odio. In scelerisque mi vel ultrices tincidunt. Phasellus lobortis at lectus at vulputate.</p>
    </div>
  </div>




</div>
