<div class="container container-shops">

  <div class="banner" style="background-image: url('https://res.cloudinary.com/sybillecrd/image/upload/v1549630638/Dame%20Jeanne/1-affiche-marjorie.jpg');">
  </div>
  <div class="card card-shops">
    <div class="card-body card-body-shops">
      <h1 class="card-title about-title">Points de vente</h1>
      <h6 class="card-subtitle mb-2 subtitle">Bordeaux</h6>
      <br>
      <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu enim, imperdiet ut auctor ut, convallis quis nunc. Morbi non leo augue. Suspendisse euismod libero maximus eros porta sollicitudin. Sed et risus commodo, vehicula est in, egestas odio. In scelerisque mi vel ultrices tincidunt. Phasellus lobortis at lectus at vulputate.</p>
    </div>
  </div>
  <div class="adresses-shops">
    <address>
      <strong>CAPC</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
    <address>
      <strong>Librairie Mollat</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
    <address>
      <strong>Cultura</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>

  </div>

</div>

<div id='map'></div>
  <%= content_for :after_js do %>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoic3liaWxsZWNyZCIsImEiOiJjanNlZ2xhMWowbDQ3NDNxbzM4YXFtNWs0In0.7sXXyyd2rCqh0grOwbY6FQ';
      const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/sybillecrd/cjseglvly0cle1fqlem0h1x8m',
      center: [-122.403944, 37.784020],
      zoom: 13.6
      });
    </script>
  <% end %>
