<div class="d-none d-sm-block">
  <div class="banner-shops" style="background-image: linear-gradient(180deg, rgba(44, 41, 58, 0.54) 0%, rgba(44, 41, 58, 0.28) 100%), url('https://res.cloudinary.com/sybillecrd/image/upload/v1549377237/Dame%20Jeanne/AT-Poster-collecif-small.jpg');">
    <h1 class="shops-title">Retrouvez-nous en boutique !</h1>
  </div>
</div>

  <div class="container container-shops">
    <div class="d-block d-sm-none">
      <h3 class="shops-title-mobile">Retrouvez-nous en boutique !</h3>
    </div>
    <div id='map' style="width: 100%; height: 600px;"></div>
    <div class="adresses-shops">
      <address>
        <strong>Bonendroi</strong><br>
        19 Rue Saint-James<br>
        33000 Bordeaux<br>
      </address>
      <address>
        <strong>La Zone du Dehors</strong><br>
        68 cours Victor Hugo<br>
        33000 Bordeaux<br>
      </address>
      <address>
        <strong>La Nuit des Rois</strong><br>
        38 rue des Ayres<br>
        33000 Bordeaux<br>
      </address>
      <address>
        <strong>Le Puits d’Amour</strong><br>
        113 rue Fondaudège<br>
        33000 Bordeaux<br>
      </address>
      <address>
        <strong>Boutique Maka Stuff</strong><br>
        18 rue Maubec<br>
        33210 Langon <br>
      </address>
      <address>
        <strong>Boutique en ligne Girond'in Love</strong><br>
        <a href="https://www.girondinlove.com/store/c8/Pap%C3%A8terie_%2F_%C3%A9v%C3%A9nements.html" target="_blank">Girond'in Love</a>
        <br>
      </address>
    </div>
  </div>

  <%= content_for :after_js do %>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoic3liaWxsZWNyZCIsImEiOiJjanY2aGh4ZW8wNHdhM3lvMWhlOHU1Y2ppIn0.WoleP9mgab7KpbiS9uOYgw';
      const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/sybillecrd/cjseglvly0cle1fqlem0h1x8m',
      center: [-0.572527, 44.841599],
      zoom: 13.70
      });

      const marker = new mapboxgl.Marker()
        .setLngLat([-0.246, 44.554])
        .addTo(map);

      const marker2 = new mapboxgl.Marker()
        .setLngLat([-0.57153, 44.836433])
        .addTo(map);

      const marker3 = new mapboxgl.Marker()
        .setLngLat([-0.569329, 44.835281])
        .addTo(map);

      const marker4 = new mapboxgl.Marker()
        .setLngLat([-0.581883, 44.848263])
        .addTo(map);

      const marker5 = new mapboxgl.Marker()
        .setLngLat([-0.573968, 44.83692])
        .addTo(map);
        map.addControl(new mapboxgl.NavigationControl());

    </script>
  <% end %>
