<div class="d-none d-sm-block">
  <div class="banner-shops" style="background-image: linear-gradient(180deg, rgba(44, 41, 58, 0.54) 0%, rgba(44, 41, 58, 0.28) 100%), url('https://res.cloudinary.com/sybillecrd/image/upload/v1549377237/Dame%20Jeanne/AT-Poster-collecif-small.jpg');">
    <h1 class="shops-title">Trouvez nous en boutique !</h1>
  </div>
</div>

  <div class="container container-shops">
    <div class="d-block d-sm-none">
      <h3 class="shops-title-mobile">Trouvez nous en boutique !</h3>
    </div>
    <div id='map' style="width: 100%; height: 600px;"></div>
    <div class="adresses-shops">
      <address>
        <strong>CAPC Musée d'Art Contemporain</strong><br>
        7 rue Ferrère<br>
        33000 Bordeaux<br>
        +33 (0)5 56 00 81 50
      </address>
      <address>
        <strong>Librairie Mollat</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      <address>
        <strong>Cultura</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>

  <%= content_for :after_js do %>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoic3liaWxsZWNyZCIsImEiOiJjanNlZ2xhMWowbDQ3NDNxbzM4YXFtNWs0In0.7sXXyyd2rCqh0grOwbY6FQ';
      const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/sybillecrd/cjseglvly0cle1fqlem0h1x8m',
      center: [-0.569489, 44.844290],
      zoom: 14
      });


      const marker = new mapboxgl.Marker()
        .setLngLat([-0.572064, 44.848581])
        .addTo(map);
        map.addControl(new mapboxgl.NavigationControl());

        ([-0.578602, 44.840970])

    </script>
  <% end %>
