.collapse-artists {
  position: absolute;
  display: flex;
  z-index: 1;
  background-color: white;
  width: 100%;
  padding: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px;
}


.artists-name a {
  color: $dark-blue;
  display: block;
  padding: 10px;
  &:hover {
    text-decoration: underline $dark-blue;
  }
}

.cross-collapse {
  color: $red;
  position: absolute;
  right: 30px;
  top: 5px;
  &:hover {
    color: $red;
  }
}
