.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
  overflow: scroll;
  cursor: pointer;
}
.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}
.overlay-inner {
  background: white;
  width: 700px;
  padding: 20px;
}
.overlay img {
  width: 100%;
}

.close {
  color: $blue;
  text-transform: uppercase;
  font-size: 11px;
  &:hover {
    color: $dark-blue;
  }
}
